<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Hike Page</title>
</head>

<body>
    <div class="container">
        <h1>Edit Your Hike</h1>
        <form action="/hike/<%=hiking.id%>?_method=PUT" method="POST">
            Hike Name: <input type="text" name="name" value="<%=hiking.name%>" /><br />
            Location: <input type="text" name="location" value="<%=hiking.location%>" /><br />
            Miles: <input type="text" name="miles" value="<%hiking.miles%>" /><br />
            Description of the hike: <input type="text" name="description" value="<%=hiking.description%>" /><br />
            Rating: <input type="radio" name="rating" /> Easy
            <input type="radio" name="rating" /> Moderate
            <input type="radio" name="rating" /> Difficult <br />

            Completed: <input type="checkbox" name="completed" /> <br />
            <a href='/hike/'><input type="submit" name="submit" value="Submit Changes" /></a>
        </form>
    </div>
</body>

</html>
