<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hikes Index Page</title>
</head>

<body>
    <div class="container">
        <h1>My List of Hikes</h1>
        <ul>
            <% for (let i=0; i < hikes.length; i++) { %>
                <li><a href="/hike/<%=hikes[i].id; %>">
                        <%=hikes[i].name;%>
                    </a><br />
                    <a href="/hike/<%=hikes[i].id; %>/edit">Edit</a>
                    <form action="/hike/<%=hikes[i].id; %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete Hike" />
                    </form>
                </li>
                <% } %>
        </ul>
        <nav>
            <a href="/hike/new">Create a new Hike</a>
        </nav>

    </div>
</body>

</html>
