<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hikes Index Page</title>
</head>

<body>
    <div class="container">
        <h1>Hike Index Page</h1>
        <ul>
            <% for (let i=0; i < hikes.length; i++) { %>
                <li><a href="/hike/<%=hikes[i].id; %>">
                        <%=hikes[i].name;%>
                    </a>
                </li>
                <% } %>
        </ul>
        <nav>
            <a href="/hike/new">Create a new Hike</a>
        </nav>
    </div>
</body>

</html>
