<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>New Page</title>
</head>

<body>
    <div class="container">
        <h1>Hike New Page</h1>
        <form action="/hike" method="POST">
            Hike Name: <input type="text" name="name" required /><br />
            Location: <input type="text" name="location" required /><br />
            Miles: <input type="text" name="miles" required /><br />
            Description of the hike: <input type="text" name="description" required /><br />
            Rating: <label class="easy"><input type="radio" name="rating" class="rating" value="easy" required>
                Easy
            </label>
            <label class="moderate"><input type="radio" name="rating" class="rating" value="moderate"> Moderate</label>
            <label class="difficult"><input type="radio" name="rating" class="rating" value="difficult"> Difficult
            </label><br />
            Completed: <input type="checkbox" name="completedHike"> <br />
            <input type="submit" name="submit" value="Save Hike" />
        </form>
        <nav>
            <a href="/hike/">See My List of Hikes</a>
        </nav>
    </div>
</body>

</html>
