body {
    text-align: center;
    background-image: linear-gradient(to left, #33ccff 40%, #29AB87 100%);
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
}

a:hover {
    background-color: lightyellow;
    text-decoration: none;
    border-radius: 40px;
    border: .3em dotted black;
}

a {
    color: green;
    transition-duration: 0.4s;
}

input[type=text] {
    border: 2px solid lightgreen;
    border-radius: 6px;
    width: 40%;

}

.container {
    letter-spacing: .3em;
}

/* -------------pictures styling--------------- */

img {
    height: 30%;
    width: 30%;
    max-width: 30%;
    max-height: 30%;
    border: 5px dotted white;
}

/* -------------new & edit ejs page styling ------------------*/

.hikename {
    margin: .3rem;
}

.locationname {
    margin: .3rem;
}

.descriptionname {
    margin: .3rem;
}

.ratingname {
    margin: .3rem;
}

.completedname {
    margin: .1rem;
}

.addphoto {
    margin: .3rem;
}

/*--- new page---*/

.newhikepage {
    margin: 2rem;
    color: darkgreen;
    text-shadow: 2px 2px black;
    text-decoration: underline;
}

.savehike {
    color: white;
    background-color: #29AB87;
    border-radius: 50px;
    margin: .3rem;
}

/* -------- edit page----------*/

.edithike {
    margin: 2rem;
    color: darkgreen;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}



/* ------- index page ----- */

.hikeslist {
    margin: 2rem;
    color: darkgreen;
    text-decoration: overline underline;
    text-shadow: 2px 2px black;
}

.deletebtn {
    border-radius: 40px;
    background: lightblue;
    color: darkgreen;
    border: 1px solid yellow;
    transition-duration: 0.4s;
    margin: .5rem;
}

.deletebtn:hover {
    background-color: yellow;
}

.edit {
    margin: .2rem;
    margin-bottom: 1.5rem;
}

.createnewhikebtn {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 3em;
}

/* ------- show page -------- */

.hikersname {
    margin: .1rem;
    color: green;
    background-color:white;
}

.hikersmiles {
    margin: .1rem;
}

.hikersdescription {
    margin: .1rem;
    color:green;
    background-color:white;
}

.hikersrating {
    margin: .1rem;
}

.hikerspic {
    margin: .1rem;
}

.completedhike {
    margin: .1rem;
    color: green;
    background-color: white;
}

.notcompleted {
    margin: .1rem;
    color: green;
    background-color: white;
}
