html {
    height: 100%;
    width: 100%;
}

body {
    text-align: center;
    background-image: linear-gradient(to top, #33ccff 0%, #29AB87 100%);
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
}

a:hover {
    background-color: white;
    text-decoration: none;
    border-radius: 40px;
    border: .3em dotted black;
}

a {
    color: green;
}

input[type=text] {
    border: 2px solid lightgreen;
    border-radius: 6px;
    width: 40%;

}

.container {
    letter-spacing: .3em;
}


/* -------------new ejs page styling ------------------*/

.hikename {
    margin: .3rem;
}

.locationname {
    margin: .3rem;
}

.descriptionname {
    margin: .3rem;
}

.ratingname {
    margin: .3rem;
}

.completedname {
    margin: .1rem;
}

.savehike {
    color: white;
    background-color: #29AB87;
    border-radius: 50px;
    margin: .3rem;
}
